body {
  margin: 0;
  font-family: 'Faster One', cursive;
  font-family: 'Open Sans', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Tangerine', cursive;
} 
